.progress-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	animation: fadeIn 0.5s;
	padding-top: 16px;
	padding-bottom: 16px;
}

.input-wrapper {
	border: 2px;
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-color: #37414b;
	display: flex;
  justify-content: center;
	padding: 16px;
}

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  color:aquamarine
}
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  color: red;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}